@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*{
    padding: 0;
    border: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* top bar */

header{
    margin-top: 36px;
    margin-left: 231px;
}

header img{
    width: 90px;
    height: 26.9px;
    opacity: 100%;
}

#sobre{
    margin-left: 40px;
    font-size: 16px;
    text-decoration: none;
    color:#111111
}

#receitas{
    margin-left:30px;
    font-size: 16px;
    text-decoration: none;
    color:#111111;
    font-weight: bold;
    
}



/* cards */

.title{
    margin-top: 36px;
    margin-left: 303px;
    padding-top: 25 px;
    padding-bottom: 25px;
}

.cards{
    margin-top: 50px;
    max-width: 1400px;
    max-height: 140px;
    margin-left: 303px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.card-image img{
    width: 100%;
    border-radius: 15px;
}

.card-title{
    color: #111111;
    font-size: 18px;
    padding-top: 15px;
}

.card-person{
    font-size: 14px;
    padding-top: 10px;
    color: #777777;
}

/* rodape */

.rodape{
    background-color: #EEEEEE;
    bottom: 0;
    width: 100%;
    height: 62px;
    margin-top: 1200px;
}

.rodape p{
    font-size: 14px;
    color:  #a6a6a6;
    text-align: center;
    padding-top: 25px;
}


/* Modal */

.modaloverlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
}

.modal{
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 250px;
    top: 250px;
}

.modal-image img{
    border-radius: 15px;
    border-radius: 15px;
    position: relative;
    left: 8%;
    padding-top: 30px;   
}

.modal-title{
    font-size: 24px;
    color: #111111;
    text-align: center;
    padding-top: 15px;
}

.modal-person{
    font-size: 18px;
    color: #777777;
    text-align: center;
}

.modal-close{
    font-size: 16px;
    padding-top: 60px;
    color: #999999;
    cursor: pointer;
    text-align: center;
}

.modaloverlay.active{
    visibility: visible;
    opacity: 1;
}