<!DOCTYPE html>
<html>
<head>
    {%block head%}
        <title>Gym Manage</title>
    {% endblock %}

    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <div class="links">
            <a href="/" class="active">Instructors</a>
            <a href="/classes">Members</a>        
        </div>          
    </header>
     
        {%block content%}{% endblock %}

</body>

</html>


